:root {
  --main-color: #3f6f9a;
  --second-color: #000;
  --third-color: #5db9d3;
  --hover-color: #0f4c81;
  --grey: #72767b;

}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

body {
  font-size: 15px;
}

.login-pf {
  background-position: center center, left top;
  background-size: 85%, 80%;
  background-repeat: no-repeat, repeat;
}

.login-pf body {
  background: none;
}

.card-pf {
  border-top: 0;
  border-radius: 1rem;
  box-shadow: 0px 0px 0px 5px var(--second-color);
}

#kc-header-wrapper {
  color: var(--main-color);
}

#kc-header-wrapper a:hover {
  text-decoration: none;
  color: var(--hover-color);
}

#kc-info {
  margin: 40px 0 0 0;
  padding-bottom: 0px;
}

#kc-info-wrapper {
  font-size: 14px;
  border-radius: 0 0 1rem 1rem;
  background-color: transparent;
  padding-top: 0;
}

h1 {
  color: rgba(0, 0, 0, 0.8);
}

.form-control {
  border: 2px solid #bbb;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 3px;
  font-size: 14px;
}

.form-control:focus {
  border-color: var(--main-color);
  outline: 0;
  box-shadow: inset 0px 0px 2px 0px var(--main-color);
}

#kc-form-options .checkbox {
  margin-top: 0;
  color: var(--grey);
}

#kc-form-buttons {
  margin-top: 40px;
}

.btn {
  font-size: 15px;
}

.btn-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: #fff;
  border-radius: 2px;
  background-image: none;
  margin-bottom: 1em;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
  background-color: var(--hover-color);
  background-image: none;
  border-color: var(--hover-color);
  color: #fff;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open .dropdown-toggle.btn-primary.focus,
.open .dropdown-toggle.btn-primary:focus,
.open .dropdown-toggle.btn-primary:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: var(--third-color);
  border-color: var(--third-color);
}

/*keep text in white on idp button hover*/
.login-pf-social a:hover{
  color: white;
}

#kc-locale ul {
  border: none;
}

#kc-locale ul li a {
  border-bottom: solid 1px #bbb;
  border-radius: 3px;
}

#kc-locale ul li a:hover {
  color: #fff !important;
  background-color: var(--main-color);
}

/* Social icon when adding github as addition idp for ex*/

.kc-social-gray {
    color: var(--grey);
}

.kc-social-provider-logo {
  color: var(--second-color);
}

.kc-social-provider-name {
  top: inherit;
}
