:root {
  --main-color: #3f6f9a; /* zwo dark blue */
  --second-color: #000; /* zwo orange */
  --third-color: #5db9d3; /* zwo ligther blue */
  --hover-color: #0f4c81; /* zwo blue green */
  --grey: #72767b;
}

.login-pf {
  background-image: url("../img/backgroud.jpg");
  background-color: #f2f2f2;
  background-repeat: repeat;
}

#kc-header-wrapper {
  margin-bottom: -2rem;
}

#kc-header-wrapper img {
  height: 300px;
}
