:root {
	--main-color: #6760D2;
	--hover-color: #6259E5;
	--pf-global--FontFamily--sans-serif: InterRegular,
		open sans, -apple-system, blinkmacsystemfont, Segoe UI, roboto,
		Helvetica Neue, arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
		Segoe UI Symbol;
}

@font-face {
	font-family: 'InterRegular';
	font-weight: 500;
	src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'InterRegular';
	font-weight: 600;
	src: url('../fonts/Inter-Bold.woff2') format('woff2');
}

.login-pf body {
	background: #F5F5F8;
	font-family: var(--pf-global--FontFamily--sans-serif);
}

.login-pf h1 {
	font-weight: 600;
}
.login-pf a {
	color: #6760D2;
}
.login-pf a:hover {
	color: #6259E5;
}

.login-pf-page .card-pf {
	margin: 0 10px;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
	color: #6760D2;
	border-top: 0;
}
@media (min-width: 520px) {
	.login-pf-page .card-pf {
		max-width: 500px;
		margin: auto;
	}
}

.login-pf-page .form-control {
	border-radius: 2px;
	background: #F3F3FB;
	border: none;
	box-shadow: none;
}

.login-pf-page .btn-primary {
	border-radius: 2px;
	background: #6760D2;
	color: white;
	font-weight: 600;
	padding: 1em;
	border: none;
	box-shadow: none;
}

.login-pf-page .btn-primary:active {
	background: #6259E5;
}
