:root {
  --main-color: #f8a100; /* zwo dark blue */
  --second-color: #2c4653; /* zwo orange */
  --third-color: #5db9d3; /* zwo ligther blue */
  --hover-color: #058078; /* zwo blue green */
  --grey: #72767b;
}

.login-pf {
  background-image: url("../img/loginBG.png");
  background-color: #ffffff;
}

#kc-header-wrapper img {
  width: 5rem;
}
