:root {
  --second-color: #e6f7f9;
}

.login-pf {
  background-image: url("../img/loginBG-left-spring.png"),
    url("../img/loginBG-right-spring.png"), url("../img/bg-texture-liiibre.png");
  background-position-x: calc(50% - 380px), calc(50% + 380px), center;
  background-position-y: 3rem, 3rem, center;
  background-size: 30rem, 30rem, 100%;
}
