:root {
  --main-color: #0db4c7;
  --third-color: #0ed7ee;
  --hover-color: #0ba9ba;
  --grey: #72767b;
  --pf-global--FontFamily--sans-serif: FengardoneueRegular, overpass, overpass,
    open sans, -apple-system, blinkmacsystemfont, Segoe UI, roboto,
    Helvetica Neue, arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  --pf-global--FontFamily--heading--sans-serif: FengardoneueBlack, overpass,
    overpass, open sans, -apple-system, blinkmacsystemfont, Segoe UI, roboto,
    Helvetica Neue, arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

@font-face {
  font-family: "FengardoneueRegular";
  src: url("../fonts/Fengardoneue/fengardoneue_regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Fengardoneue/fengardoneue_regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Fengardoneue/fengardoneue_regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Fengardoneue/fengardoneue_regular.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/Fengardoneue/fengardoneue_regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Fengardoneue/fengardoneue_regular.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "FengardoneueBlack";
  src: url("../fonts/Fengardoneue/fengardoneue_black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Fengardoneue/fengardoneue_black.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Fengardoneue/fengardoneue_black.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Fengardoneue/fengardoneue_black.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/Fengardoneue/fengardoneue_black.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Fengardoneue/fengardoneue_black.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

body {
  font-family: "FengardoneueRegular";
}

.login-pf {
  background-repeat: no-repeat, no-repeat, repeat;
  background-color: var(--second-color);
}

@media only screen and (max-width: 767px) {
  .login-pf {
    background-image: url("../img/bg-texture-liiibre.png") !important;
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: 100% !important;
  }
}

h1,
#kc-header-wrapper {
  font-family: "FengardoneueBlack";
}

#kc-header-wrapper img {
  width: 3.5rem;
  margin-bottom: 0.2em;
}
