:root {
  --second-color: #fdfadb;
}

.login-pf {
  background-image: url("../img/loginBG-left.png"),
    url("../img/loginBG-right.png"), url("../img/bg-texture-liiibre.png");
  background-position-x: calc(50% - 380px), calc(50% + 380px), center;
  background-position-y: 3rem, 3rem, center;
  background-size: 30rem, 30rem, 100%;
}
