:root {
  --second-color: #dcfafd;
}

.login-pf {
  background-image: url("../img/loginBG-left-winter.png"),
    url("../img/loginBG-right-winter.png"), url("../img/bg-texture-liiibre.png");
  background-position-x: calc(50% - 380px), calc(50% + 380px), center;
  background-position-y: 2rem, 2rem, center;
  background-size: 28rem, 28rem, 100%;
}
